<ion-view hide-nav-bar="true" class="background-login">
	<ion-content class="has-header">
		<div class="center">
			<h2 class="light">Sign in to</h2>
		</div>
		<div class="logo-login">
			<img style="width: 100%" src="img/logo.png"></img>
		</div>
		<div class="center">
			<span class="light">create a</span>
			<a style="text-decoration: none;" class="balanced" ui-sref="registration">new account</a>
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
    		<input type="text" placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password">
		  </label>
		</div>
		<div class="padding">
        	<a class="button button-block button-outline button-light" ng-click="login('password')">Sign In</a>
	    </div>
	    <div class="row" style="margin-top: 40px;">
	    	<div class="col center">
	    		<a class="bg-facebook social-button-round" ng-click="login('facebook')">
	    			<i class="ion-social-facebook"></i>
	    		</a>	
	    	</div>
	    	<div class="col center">
	    		<a class="bg-twitter social-button-round" ng-click="login('twitter')">
	    			<i class="ion-social-twitter"></i>
	    		</a>
	    	</div>
	    	<div class="col center">
	    		<a class="bg-google social-button-round" ng-click="login('google')">
	    			<i class="ion-social-google"></i>
	    		</a>
	    	</div>
	    </div>
	</ion-content>
</ion-view>