<ion-view view-title="Local">
  <ion-nav-buttons side="right">
          <a class="button button-icon icon ion-ios-star-outline"></a>
          <a ui-sref="options" class="button button-icon icon ion-android-funnel"></a>
    </ion-nav-buttons>
  <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
      <div class="tabs header-shrink">
       <a tab-state="autos" class="tab-item" href="">
         Cars
       </a>
       <a tab-state="events" class="tab-item" href="">
         Events
       </a>
       <a tab-state="clubs" class="tab-item" href="">
         Clubs
       </a>
     </div>
   </div>

    <ng-include src="'app/components/browse/browse-cars.html'" ng-if="tabState == 'autos'"></ng-include>

    <ng-include src="'app/components/browse/browse-events.html'" ng-if="tabState == 'events'"></ng-include>

    <ng-include src="'app/components/browse/browse-clubs.html'" ng-if="tabState == 'clubs'"></ng-include>

</ion-view>