/* Empty. Add your own CSS if you like */

/* Profile page */
.logo-login {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.has-status-bar {
  margin-top: 15px;
}

.profileImage {
  width: 100%;
}

.center {
  text-align: center;
}

.background-login {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/login-bg.jpg')
}

.bg-facebook {
  background-color: #3b5998;
  border-color: #3C3E3E;
  color: #fff;
}

.bg-twitter {
  background-color: #00aced;
  border-color: #3C3E3E;
  color: #fff;
}

.bg-google {
  background-color: #dd4b39;
  border-color: #3C3E3E;
  color: #fff;
}

.back-button-round {
    width: 20px;
    height: 20px;
    box-shadow: 0 1px 1px #3C3E3E;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 2.2em;
    border-radius: 50%;
}

.social-button-round{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 80px;
    height: 80px;
    box-shadow: 0 2px 2px #3C3E3E;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.7em;
    border-radius: 40px;
}

/**********************/

.category-container {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.category-container-cars {
  background-image: url("/img/categories/cars_category.jpg");
}

.category-container-events {
  background-image: url("/img/categories/events_category.jpg");
}

.category-container-clubs {
  background-image: url("/img/categories/clubs_category.jpg");
}


.has-shrinking-subheader {
  padding-top: 49px;
}

.item-foot-content {
  font-size: 30px !important;
}

.col-center {
  text-align: center;
}

.profileAvatar {
  top: 12px !important;
  max-width: 50px !important;
  max-height: 50px !important;
  width: 50px !important;
  height: 50px !important;
}

.ionic-refresher-content {
  color: white !important;
}

.spinner svg {
  stroke: white;
  fill: white;
}

.background-primary {
  background-color: #3C3E3E;
}

.background-secondary {
  background-color: #575A5A;
}

.bg-transparent {
  background-color: transparent;
}

.noPadding {
  margin:0px!important; 
  padding:0px!important
}

.picLocation {
  font-size: 1em !important;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  text-shadow: 1px 1px #000000;
}

.picText {
  font-size: 1em !important;
  position:absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-shadow: 1px 1px #000000;
}

.noborder {
  border:none !important;
  border-width: 0px !important;
}


